.calendar-content{
    margin-top: 25px;
    padding: 25px;
}
.first-line-calendar{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    column-gap: 25px;
    margin-bottom: 25px;
}
.second-line-calendar{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    column-gap: 25px;
    margin-bottom: 25px;
}

@media (max-width: 600px){
    .first-line-calendar, .second-line-calendar{
        column-gap: 10px;
    }
    .calendar-content{
        margin-top: 30px;
    }
}

@media (max-width:1024px){
    .first-line-calendar, .second-line-calendar{
        max-width: 600px;
        column-gap: 20px;
    }
}
@media (max-width:475px) {
    .calendar-content{
        padding: 15px;
        margin-top: 15px;
    }
    .first-line-calendar, .second-line-calendar{
        max-width: 350px;
        column-gap: 10px;
    }
}